.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: auto;
    margin: 0 auto;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px; /* Add margin between buttons */
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}