.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.table {
    width: auto;
    margin: 20px auto;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px; /* Add margin between buttons */
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}